<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
<body>

<div class="container-fluid" id="wrapper">

    <div class="row t20">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="lean-h text-black">
                        <i class="glyphicon glyphicon-plus-sign"></i> {{ title }}
                    </h3>
                    <hr>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li style="margin-bottom: 10px;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {% if generating %}
                    <form action="{{ url_for('verification.generate_forget') }}" method="POST">
                    {% elif handling %}
                    <form action="{{ url_for('verification.forget_password', token=token, public_id=public_id) }}" method="POST">
                    {% endif %}
                        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

</body>
</html>