<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
<body>

<div class="container-fluid" id="wrapper">


    <div class="row t20">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li style="margin-bottom: 10px;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    <form action="{{ url_for('main.home') }}" method="POST">
                        {{ form.hidden_tag() }}
                        {% for field, errors in form.errors.items() %}
                        <div class="alert alert-error">
                            {{ form[field].label }}: {{ ', '.join(errors) }}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label><i class="glyphicon glyphicon-plus-sign"></i> Add New Date</label>
                            <div class="input-group">
                                {{ form.date(type="date", placeholder="Select New Date", class="form-control") }}
                                <span class="input-group-btn">
										{{ form.submit(class="btn btn-primary") }}
									  </span>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row t20">
        <div class="col-lg-12">
            <h4 class="text-center text-white"><strong>Existing Records ({{ existing_records }})</strong></h4>
        </div>
    </div>

    <div class="row t20">
        {% for date_item in dates %}
        <div class="col-lg-3">
            <div class="panel panel-warning">
                <div class="panel-body text-bold">
                    <i class="glyphicon glyphicon-calendar"></i> {{ date_item.date }}
                    <a class="btn btn-primary btn-xs pull-right"
                       href="{{ url_for('date.view_summary', public_id=date_item.public_id) }}"
                       style="margin-left: 10px;">
                        View <i class="glyphicon glyphicon-arrow-right"></i>
                    </a>
                    <a class="btn btn-danger btn-xs pull-right"
                       href="{{ url_for('date.delete_date', public_id=date_item.public_id) }}">
                        <i class="glyphicon glyphicon-trash"></i> Delete
                    </a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item text-bold"><span class="badge">{{ date_item.protein }}</span> Protein
                    </li>
                    <li class="list-group-item text-bold"><span class="badge">{{ date_item.carbohydrate }}</span>
                        Carbohydrate
                    </li>
                    <li class="list-group-item text-bold"><span class="badge">{{ date_item.fat }}</span> Fat</li>
                    <li class="list-group-item text-bold"><span class="badge">{{ date_item.calories }}</span> Calories
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include "footer.html" %}

</body>
</html>