<div class="row t20">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="lean-h text-black">
                    <i class="glyphicon glyphicon-plus-sign"></i> {% if not edit %}New Food Form (Manual Processing){%
                    else %}Edit Food
                    Form{% endif %}
                </h3>
                <hr/>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li style="margin-bottom: 10px;">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                {% if not edit %}<p style="margin-bottom: 20px;">Don't know the nutritional values of the food item that
                you're looking for? Use <a
                        href="{{ url_for('food.add_food_item') }}">natural language processing</a> instead.</p>{% endif
                %}
                <form action="{% if not edit %}{{url_for('food.add_food_item', manual=True)}}{% else %}{{url_for('food.edit_food_item', public_id=requested_food.public_id, manual=manual)}}{% endif %}" method="POST">
                    {{ form.hidden_tag() }}
                    {% for field, errors in form.errors.items() %}
                    <div class="alert alert-error">
                        {{ form[field].label }}: {{ ', '.join(errors) }}
                    </div>
                    {% endfor %}
                    <div class="row">
                        {% for field in form %}
                        {% if field.type == "StringField" or field.type == "IntegerField" %}
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ field.label }}
                                {% if field.type != "IntegerField" %}
                                {{ field(class="form-control", placeholder=field.name|replace("_", " ")|title) }}
                                {% else %}
                                {{ field(class="form-control", placeholder=field.name|replace("_", " ")|title, type="number") }}
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label style="visibility:hidden">submit</label>
                                {{ form.submit(class="btn btn-primary btn-block") }}
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>