<div class="row t20">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="lean-h text-black">
                    <i class="glyphicon glyphicon-plus-sign"></i> New Food Form (Natural Language Processing)
                </h3>
                <hr/>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li style="margin-bottom: 10px;">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <p>Can't find the food item that you're looking for? Use <a
                        href="{{ url_for('food.add_food_item', manual=True) }}">manual processing</a> instead.</p>
                <form action="{{ url_for('food.add_food_item') }}" method="POST" role="form">
                    {{ form.hidden_tag() }}
                    {% for field, errors in form.errors.items() %}
                    <div class="alert alert-error">
                        {{ form[field].label }}: {{ ', '.join(errors) }}
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form.description.label }}
                                {{ form.description(class="form-control", placeholder="What did you eat?") }}
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label style="visibility:hidden">submit</label>
                                {{ form.submit(class="btn btn-primary btn-block") }}
                            </div>
                        </div>
                    </div>
                    <p>You can describe your food like this: "500 Gram Hamburger", "Two Hamburgers", "One cup of chicken
                        noodle soup" or use the names of common items to describe your food such as "Big Mac".</p>
                </form>
            </div>
        </div>
    </div>
</div>
